{% extends 'base.html' %}

{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <p class="lead">File uploaded successfully.</p>
    <img src="data:image/png;base64,{{ img_data }}" class="img-thumbnail" alt="Responsive image">
    <p> </p>
    <p> </p>
    <p>The TOP predictions with atleast 1% probability for your Image are:</p>
    {% for key, value in result.items() %}
        <table border = 1 class = "table">
            <thread class = "thread-dark">
                <tr>
                    <th scope = "col">Class</th>
                    <th scope = "col">Percentage</th>
                </tr>
            </thread>
            {% for class, percentage in value %}
                <tr>
                    <th> {{ class }} </th>
                    <td> {{ percentage }} </td>
                </tr>
            {% endfor %}
        </table  
    {% endfor %}
    <p class="mt-5"> <a href="/">Try again</a></p>
</div>

{% endblock %}
